Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
mtcnn==1.0.0
keras==3.11.3
keras-facenet==0.3.2
ujson==5.10.0
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
fastjsonschema==2.21.2
python-lsp-jsonrpc==1.1.2
pillow==11.3.0
imagesize==1.4.1
numpy==2.2.6
numpydoc==1.9.0